.root {
  flex-direction: row;
  display: flex;
  width: 100%;
  height: auto;
  position: relative;
  min-width: 0;
}
.root > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 48px);
  width: calc(100% + 48px);
}
.root > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * 48px) * 10 / 12);
}
.root > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * 48px) * 2 / 12);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .root > :global(.__wab_flex-container) {
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 24px);
    height: calc(100% + 24px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .root > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .root > :global(.__wab_flex-container) > *,
  .root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .root > :global(.__wab_flex-container) > picture > img,
  .root
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 24px;
  }
}
.rootreversedLayout {
  flex-direction: row-reverse;
}
.rootreversedLayout > :global(.__wab_flex-container) {
  flex-direction: row-reverse;
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.rootreversedLayout > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * 48px) * 10 / 12);
}
.rootreversedLayout > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * 48px) * 2 / 12);
}
.rootreversedLayout > :global(.__wab_flex-container) > *,
.rootreversedLayout > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.rootreversedLayout > :global(.__wab_flex-container) > picture > img,
.rootreversedLayout
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .rootreversedLayout {
    flex-direction: row;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .rootreversedLayout > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: calc(0px - 24px);
    height: calc(100% + 24px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .rootreversedLayout > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .rootreversedLayout > :global(.__wab_flex-container) > *,
  .rootreversedLayout
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > *,
  .rootreversedLayout > :global(.__wab_flex-container) > picture > img,
  .rootreversedLayout
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 24px;
  }
}
.column__pC6Ly {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50%;
  border: 2px solid var(--token-5gFOPrhbO);
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__pC6Ly {
    width: 100%;
  }
}
.htmlVideo__dZlW1:global(.__wab_instance) {
  width: 100%;
  height: hug;
  max-width: 100%;
  position: relative;
  min-width: 0;
}
.column__tBrIl {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50%;
  justify-content: center;
  align-items: center;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__tBrIl {
    width: 100%;
  }
}
.freeBox {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  min-width: 0;
}
.freeBox > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.freeBox > :global(.__wab_flex-container) > *,
.freeBox > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox > :global(.__wab_flex-container) > picture > img,
.freeBox
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox {
    width: 100%;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.text__siFjz {
  font-size: 32px;
  font-weight: 700;
  color: var(--token-5gFOPrhbO);
  position: relative;
  text-align: left;
  width: 100%;
  min-width: 0;
}
.text__gjlIt {
  position: relative;
  color: var(--token-ekp-964cfv);
  width: 100%;
  min-width: 0;
}
