.root {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  box-shadow: 0px 0px 0px 2px #0000000d;
  min-width: 0;
  min-height: 0;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 64px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    width: 100%;
    height: 100%;
    min-width: 0;
    min-height: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .root > :global(.__wab_flex-container) {
    min-width: 0;
    min-height: 0;
  }
}
.header:global(.__wab_instance) {
  position: relative;
  width: 100%;
  left: auto;
  top: auto;
  z-index: 1;
  min-width: 0;
}
.svg__ilfBk {
  object-fit: cover;
  width: 48px;
  height: 48px;
}
.button__jtkLm:global(.__wab_instance) {
  max-width: 100%;
  width: 100px;
}
.svg__pWpca {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__k4EQg {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button___3RumU:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100px;
}
.svg__glCrR {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__wswe7 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__cj25E:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100px;
}
.svg__hotqi {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__aTeCo {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.topSection:global(.__wab_instance) {
  position: relative;
}
.freeBox__xWbuQ {
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: var(--token-qI3Bf7JneQc0w1);
  display: flex;
  position: relative;
  min-width: 0;
}
.freeBox__xWbuQ > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__xWbuQ > :global(.__wab_flex-container) > *,
.freeBox__xWbuQ > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__xWbuQ > :global(.__wab_flex-container) > picture > img,
.freeBox__xWbuQ
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__xWbuQ {
    width: 100%;
    height: auto;
    max-width: var(--token-qI3Bf7JneQc0w1);
    display: flex;
    position: relative;
    flex-direction: column;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__xWbuQ > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__xWbuQ > :global(.__wab_flex-container) > *,
  .freeBox__xWbuQ > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__xWbuQ > :global(.__wab_flex-container) > picture > img,
  .freeBox__xWbuQ
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.freeBox___5Xls0 {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  max-width: 1000px;
  min-width: 0;
}
.freeBox___5Xls0 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox___5Xls0 > :global(.__wab_flex-container) > *,
.freeBox___5Xls0 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___5Xls0 > :global(.__wab_flex-container) > picture > img,
.freeBox___5Xls0
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___5Xls0 {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 100%;
    max-width: 1000px;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___5Xls0 > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___5Xls0 > :global(.__wab_flex-container) > *,
  .freeBox___5Xls0 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox___5Xls0 > :global(.__wab_flex-container) > picture > img,
  .freeBox___5Xls0
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.freeBox__ysHYz {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.text__lPGs {
  font-size: 96px;
  font-weight: 700;
  text-align: center;
  line-height: 1;
  color: var(--token-5gFOPrhbO);
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__lPGs {
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    line-height: 1;
    color: var(--token-5gFOPrhbO);
  }
}
.text__sMMsP {
  font-size: 96px;
  font-weight: 700;
  text-align: center;
  line-height: 1;
  color: rgba(51, 140, 245, 0);
  background: linear-gradient(
      131deg,
      #ffb916 1%,
      #f533cc 43%,
      #5e41ff 67%,
      #292929 100%
    )
    0% 0% / 100% 100% padding-box /* clip: text **/;
  padding-top: 8px;
  background-clip: text;
  -webkit-background-clip: text;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__sMMsP {
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    line-height: 1;
    color: rgba(51, 140, 245, 0);
  }
}
.text__v1Am8 {
  font-size: 20px;
  text-align: center;
  max-width: 768px;
  position: relative;
  align-self: center;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__v1Am8 {
    font-size: 16px;
    text-align: center;
    max-width: 768px;
    position: relative;
    align-self: center;
  }
}
.freeBox__h0Iqu {
  flex-direction: row;
  display: flex;
  position: relative;
}
.freeBox__h0Iqu > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  margin-left: calc(0px - 12px);
  width: calc(100% + 12px);
}
.freeBox__h0Iqu > :global(.__wab_flex-container) > *,
.freeBox__h0Iqu > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__h0Iqu > :global(.__wab_flex-container) > picture > img,
.freeBox__h0Iqu
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 12px;
}
.button__pjDz6:global(.__wab_instance) {
  position: relative;
}
.svg__qsQua {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg___7I12J {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.button__rslrR:global(.__wab_instance) {
  position: relative;
}
.svg__szhgc {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__wKzd9 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.freeBox___5SHxj {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  max-width: 1000px;
  min-width: 0;
}
.img {
  position: relative;
  object-fit: cover;
  width: 1024px;
  height: 100%;
  min-height: 0;
  border: 1px solid #000000;
}
.img > picture > img {
  object-fit: cover;
}
.img > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img {
    width: 100%;
    min-width: 0;
  }
}
.solutions:global(.__wab_instance) {
  position: relative;
}
.text__voQbq {
  user-select: none;
}
.text___56TAq {
  padding-right: 0px;
  text-align: center;
}
.reveal__pE2Cf:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.videoExample__prGo:global(.__wab_instance) {
  position: relative;
  margin-bottom: 0px;
}
.youTube__szkYk:global(.__wab_instance) {
  height: 493px;
  width: 876px;
  max-height: 100%;
  max-width: 100%;
  position: relative;
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  grid-auto-rows: auto;
  grid-auto-columns: 1fr;
}
@media (min-width: 0px) and (max-width: 768px) {
  .youTube__szkYk:global(.__wab_instance) {
    width: 100%;
    height: 100%;
    min-width: 0;
    min-height: 0;
  }
}
.text__aLzya {
  font-size: 32px;
  font-weight: 700;
  color: var(--token-5gFOPrhbO);
  text-align: left;
  width: 100%;
  user-select: none;
  min-width: 0;
}
.text__nY1M {
  position: relative;
  color: var(--token-ekp-964cfv);
  width: 100%;
  user-select: none;
  min-width: 0;
}
.reveal___6TFx7:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  margin-top: 152px;
}
.videoExample__wC:global(.__wab_instance) {
  position: relative;
  margin-top: 0px;
}
.youTube__jCix7:global(.__wab_instance) {
  height: 493px;
  width: 876px;
  max-height: 100%;
  max-width: 100%;
  position: relative;
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  grid-auto-rows: auto;
  grid-auto-columns: 1fr;
}
@media (min-width: 0px) and (max-width: 768px) {
  .youTube__jCix7:global(.__wab_instance) {
    height: 100%;
    width: 100%;
    min-width: 0;
    min-height: 0;
  }
}
.text__dxfxb {
  font-size: 32px;
  font-weight: 700;
  color: var(--token-5gFOPrhbO);
  position: relative;
  text-align: left;
  user-select: none;
  white-space: pre-wrap;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__dxfxb {
    font-size: 31px;
    text-align: left;
  }
}
.text__mdUty {
  position: relative;
  color: var(--token-ekp-964cfv);
  user-select: none;
  padding-bottom: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__mdUty {
    padding-top: 0px;
  }
}
.reveal__pg1G5:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  margin-top: 152px;
}
.videoExample___27Ua:global(.__wab_instance) {
  position: relative;
  margin-bottom: 0px;
}
.youTube__gNoGn:global(.__wab_instance) {
  height: 493px;
  width: 100%;
  max-height: 100%;
  max-width: 100%;
  position: relative;
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  grid-auto-rows: auto;
  grid-auto-columns: 1fr;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .youTube__gNoGn:global(.__wab_instance) {
    height: 100%;
    min-height: 0;
  }
}
.text___8YvkP {
  font-size: 32px;
  font-weight: 700;
  color: var(--token-5gFOPrhbO);
  position: relative;
  text-align: left;
  width: 100%;
  user-select: none;
  min-width: 0;
}
.text__nY1M {
  position: relative;
  color: var(--token-ekp-964cfv);
  width: 100%;
  user-select: none;
  height: auto;
  min-width: 0;
}
.howItWorks:global(.__wab_instance) {
  position: relative;
}
.reveal__neMan {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  min-width: 0;
}
.reveal__neMan > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  min-width: 0;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.reveal__neMan > :global(.__wab_flex-container) > *,
.reveal__neMan > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.reveal__neMan > :global(.__wab_flex-container) > picture > img,
.reveal__neMan
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
  margin-top: 20px;
}
.freeBox__iwcDk {
  flex-direction: row;
  display: flex;
  width: 100%;
  min-width: 0;
}
.freeBox__iwcDk > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.freeBox__iwcDk > :global(.__wab_flex-container) > *,
.freeBox__iwcDk > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__iwcDk > :global(.__wab_flex-container) > picture > img,
.freeBox__iwcDk
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
  margin-top: 20px;
}
.featureCard__vCzF:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__zxSc7 {
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: var(--token-UMOpAZlrQj);
}
.svg__n3NH4 {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard___0RcIc:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__cja2F {
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: var(--token-UMOpAZlrQj);
}
.svg__ahEOm {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard___5RzuC:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__p4FQ {
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: var(--token-UMOpAZlrQj);
}
.svg__eaCx7 {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard___3Vrh4:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg___39ZeB {
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: var(--token-UMOpAZlrQj);
}
.svg__b1E3Y {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard__qWZxv:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__be14N {
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: var(--token-UMOpAZlrQj);
}
.svg__tthfO {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard__yhe8L:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__avwOu {
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: var(--token-UMOpAZlrQj);
  left: auto;
  top: auto;
}
.svg__nyTwl {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard___8QNlM:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg___3A3LY {
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: var(--token-UMOpAZlrQj);
  left: auto;
  top: auto;
}
.svg__nO3Vx {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard__pT6Oa:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__lip9B {
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: var(--token-UMOpAZlrQj);
}
.svg__iaoG2 {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard___9Wski:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__bz7Q8 {
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: var(--token-UMOpAZlrQj);
}
.svg__nLFni {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.text__kQawb {
  text-align: center;
}
.pricingSection:global(.__wab_instance) {
  position: relative;
}
.text__opFs3 {
  text-align: center;
}
.reveal__c0Rt9:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.columns {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: 400px;
  min-width: 0;
  padding: 0px;
}
.columns > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.columns > :global(.__wab_flex-container) > :nth-child(3n + 1) {
  width: calc((100% - 3 * 16px) * 4 / 12);
}
.columns > :global(.__wab_flex-container) > :nth-child(3n + 2) {
  width: calc((100% - 3 * 16px) * 4 / 12);
}
.columns > :global(.__wab_flex-container) > :nth-child(3n + 3) {
  width: calc((100% - 3 * 16px) * 4 / 12);
}
.columns > :global(.__wab_flex-container) > *,
.columns > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns > :global(.__wab_flex-container) > picture > img,
.columns
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    position: relative;
    min-width: 0;
    padding: 0px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: flex-start;
    min-width: 0;
    margin-left: calc(0px - 16px);
    width: calc(100% + 16px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 16px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) > *,
  .columns > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns > :global(.__wab_flex-container) > picture > img,
  .columns
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 16px;
    margin-top: 32px;
  }
}
.column__ohl6R {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 33.333333%;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__ohl6R {
    width: 100%;
    display: flex;
    position: relative;
    flex-direction: column;
    flex-column-gap: 0px;
  }
}
.plan__tcon4:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
  height: 100%;
  max-width: 320px;
  min-height: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .plan__tcon4:global(.__wab_instance):global(.__wab_instance) {
    width: 100%;
    min-width: 0;
  }
}
.text__b2FJh {
  font-size: 48px;
  color: var(--token-UMOpAZlrQj);
}
.freeBox__pd3Dy {
  flex-direction: column;
  display: flex;
  position: relative;
  height: 100%;
  min-height: 0;
}
.freeBox__pd3Dy > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  min-height: 0;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__pd3Dy > :global(.__wab_flex-container) > *,
.freeBox__pd3Dy > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__pd3Dy > :global(.__wab_flex-container) > picture > img,
.freeBox__pd3Dy
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.bullet__ak5He:global(.__wab_instance) {
  position: relative;
}
.bullet__q6Vp2:global(.__wab_instance) {
  position: relative;
}
.button___0YoGk:global(.__wab_instance) {
  position: relative;
}
.svg__dYfz8 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__eUfCc {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.column__m2NuJ {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 33.333333%;
  justify-content: flex-start;
  align-items: center;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__m2NuJ {
    width: 100%;
    display: flex;
    position: relative;
    flex-direction: column;
    flex-column-gap: 0px;
  }
}
.plan__wv2Mf:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
  height: 100%;
  max-width: 320px;
  min-height: 0;
}
.text__vsGer {
  font-size: 48px;
  color: var(--token-UMOpAZlrQj);
}
.freeBox__uQfsI {
  flex-direction: column;
  display: flex;
  position: relative;
}
.freeBox__uQfsI > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__uQfsI > :global(.__wab_flex-container) > *,
.freeBox__uQfsI > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__uQfsI > :global(.__wab_flex-container) > picture > img,
.freeBox__uQfsI
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.bullet__aD0Yd:global(.__wab_instance) {
  position: relative;
}
.bullet__vwmeF:global(.__wab_instance) {
  position: relative;
}
.bullet__bvKOm:global(.__wab_instance) {
  position: relative;
}
.button__c01Ak:global(.__wab_instance) {
  position: relative;
}
.svg__jkE3Y {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg___2JWos {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.column___2GGdf {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 33.333333%;
  justify-content: flex-start;
  align-items: center;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column___2GGdf {
    width: 100%;
    display: flex;
    position: relative;
    flex-direction: column;
    flex-column-gap: 0px;
  }
}
.plan__rYndX:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
  height: 100%;
  max-width: 320px;
  min-height: 0;
}
.text__mF7Dq {
  font-size: 48px;
  color: var(--token-UMOpAZlrQj);
}
.freeBox___6AkVp {
  flex-direction: column;
  display: flex;
  position: relative;
}
.freeBox___6AkVp > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox___6AkVp > :global(.__wab_flex-container) > *,
.freeBox___6AkVp > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___6AkVp > :global(.__wab_flex-container) > picture > img,
.freeBox___6AkVp
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.bullet__wFllC:global(.__wab_instance) {
  position: relative;
}
.bullet__mZFs:global(.__wab_instance) {
  position: relative;
}
.bullet___449C8:global(.__wab_instance) {
  position: relative;
}
.button__oJhIp:global(.__wab_instance) {
  position: relative;
}
.svg__hFyxu {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg___3E3Q6 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.howItWorks2:global(.__wab_instance) {
  position: relative;
}
.reveal__dwO7S {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  min-width: 0;
}
.reveal__dwO7S > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  min-width: 0;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.reveal__dwO7S > :global(.__wab_flex-container) > *,
.reveal__dwO7S > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.reveal__dwO7S > :global(.__wab_flex-container) > picture > img,
.reveal__dwO7S
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
  margin-top: 20px;
}
.freeBox__m8Tv2 {
  flex-direction: row;
  display: flex;
  width: 100%;
  min-width: 0;
}
.freeBox__m8Tv2 > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.freeBox__m8Tv2 > :global(.__wab_flex-container) > *,
.freeBox__m8Tv2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__m8Tv2 > :global(.__wab_flex-container) > picture > img,
.freeBox__m8Tv2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
  margin-top: 20px;
}
.freeBox__yXfjl {
  flex-direction: row;
  display: flex;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  border-radius: 99px;
  padding: 8px 24px;
  border: 2px solid #000000;
}
.freeBox__yXfjl > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__yXfjl > :global(.__wab_flex-container) > *,
.freeBox__yXfjl > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__yXfjl > :global(.__wab_flex-container) > picture > img,
.freeBox__yXfjl
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.svg__wr3Q {
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: var(--token-UMOpAZlrQj);
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.text__psFuo {
  position: relative;
  left: auto;
  top: auto;
}
.text__lAnlA {
  text-align: center;
}
.footer:global(.__wab_instance) {
  position: relative;
}
