.root {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  align-items: center;
  justify-content: flex-start;
  background: #ffffff;
  position: sticky;
  min-width: 0;
  border-radius: 4px;
  padding: 7px 12px;
  border: 1px solid #000000;
}
.rootcolor_dark {
  background: var(--token-rsk6THq9Hi);
  border-color: var(--token-CU_VORm9N4);
}
.root:focus-within {
  box-shadow: 0px 0px 0px 1px #2f54eb;
  width: 100%;
  height: auto;
  background: #ffffff;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-row-gap: 0px;
  min-width: 0;
  outline: none;
  padding: 7px 12px;
  border: 1px solid #2f54eb;
}
.root___focusVisibleWithin {
  box-shadow: 0px 0px 0px 1px #2f54eb;
  outline: none;
  border-color: #2f54eb;
}
.startIconContainer {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  left: auto;
  top: auto;
  margin-right: 8px;
}
.startIconContainershowStartIcon {
  display: flex;
}
.root .startIconContainer___focusVisibleWithin {
  outline: none;
}
.slotTargetStartIcon {
  color: #808080;
  font-size: 16px;
}
.slotTargetStartIconshowStartIcon {
  color: #90908c;
}
.svg__tKhY {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 1em;
  flex-shrink: 0;
  height: 1em;
}
.input {
  width: 100%;
  left: auto;
  top: auto;
  background: #ffffff00;
  font-size: 14px;
  color: var(--token-o5xf3fxrqf);
  min-width: 0;
  padding: 0px;
  border-width: 0px;
}
.inputisDisabled {
  cursor: not-allowed;
}
.inputcolor_dark {
  background: #ffffff00;
  color: var(--token-l0eeXWeAYwTjpW);
}
.inputfontSize_small {
  font-size: 12px;
}
.root:focus-within .input {
  outline: none;
}
.root .input___focusVisibleWithin {
  outline: none;
}
.root .input:focus {
  outline: none;
}
.root:focus-within .input:focus {
  outline: none;
}
.root .input::placeholder {
  color: #706f6c;
}
.root:focus-within .input::placeholder {
  outline: none;
}
.endIconContainer {
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  left: auto;
  top: auto;
  margin-left: 8px;
  display: none;
}
.endIconContainershowEndIcon {
  display: flex;
}
.slotTargetEndIconshowEndIcon {
  color: #90908c;
}
.svg__vss9 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
