.root {
  background: rgba(244, 244, 244, 1);
  width: 688px;
  height: auto;
  display: flex;
  overflow: hidden;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  border-radius: 3px;
  padding: 20px 24px;
}
.slotTargetChildren {
  font-family: "Menlo";
  font-size: 12px;
  font-weight: 400;
  color: rgba(51, 51, 51, 1);
  line-height: 20.159px;
  letter-spacing: 0em;
}
