.checkbox {
  width: auto;
  height: auto;
  display: inline-flex;
  flex-direction: row;
  position: relative;
  cursor: pointer;
}
.checkbox > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 4px);
  width: calc(100% + 4px);
}
.checkbox > :global(.__wab_flex-container) > *,
.checkbox > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.checkbox > :global(.__wab_flex-container) > picture > img,
.checkbox
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 4px;
}
.checkbox {
  width: auto;
  height: auto;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  cursor: pointer;
}
.checkbox2 {
  background: rgba(255, 255, 255, 1);
  box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 1);
  width: 16px;
  height: 16px;
  display: flex;
  position: relative;
  flex-direction: row;
  flex-shrink: 0;
  border-radius: 4px;
  padding: 2px;
}
.checkbox2 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.checkbox2 > :global(.__wab_flex-container) > *,
.checkbox2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.checkbox2 > :global(.__wab_flex-container) > picture > img,
.checkbox2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.checkbox2 {
  background: rgba(255, 255, 255, 1);
  box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 1);
  width: 16px;
  height: 16px;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  border-radius: 4px;
  padding: 2px;
}
.checkbox2isChecked {
  background: #2f54eb;
}
.checkbox2isChecked {
  background: #2f54eb;
}
.svg__ms0Qx {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #ffffff;
  width: 12px;
  height: 12px;
  display: block;
  overflow: hidden;
  flex-shrink: 0;
}
.svgisMixed__ms0Qxkat0 {
  display: none;
}
.svg__cdjM {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #ffffff;
  width: 8px;
  height: 12px;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.svgisMixed__cdjMkat0 {
  display: block;
}
.text {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
}
.text > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 4px);
  width: calc(100% + 4px);
}
.text > :global(.__wab_flex-container) > *,
.text > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.text > :global(.__wab_flex-container) > picture > img,
.text > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 4px;
}
.text {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.slotTargetText7 {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #000000;
  line-height: 1.1499899999999998;
  letter-spacing: 0em;
  user-select: none;
}
