.root {
  flex-direction: row;
  display: inline-flex;
  width: auto;
  height: auto;
  max-width: 100%;
  position: relative;
  padding: 0px;
}
.root > :global(.__wab_flex-container) {
  flex-direction: row;
  margin-left: calc(0px - 2px);
  width: calc(100% + 2px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 2px;
}
.unstyledStar__eq61F:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
.unstyledStar__mFNif:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
.unstyledStar__vjBak:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
.unstyledStar__psWkX:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
.unstyledStar__kYbdt:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
