.root {
  display: inline-flex;
  flex-direction: row;
  position: relative;
  width: auto;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  background: #ffffff;
  box-shadow: inset 0px -1px 0px 0px #00000033;
  padding: 0px;
}
.first:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  flex-shrink: 0;
}
.second:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  flex-shrink: 0;
}
.third:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  flex-shrink: 0;
}
