.root {
  display: inline-flex;
  flex-direction: row;
  position: relative;
  width: auto;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  background: #f2f2f2;
  border-radius: 4px;
  padding: 2px;
}
.freeBox___9Jt0L {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.first:global(.__wab_instance) {
  max-width: 100%;
  flex-shrink: 0;
}
.freeBox__unE31 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.second:global(.__wab_instance) {
  max-width: 100%;
  flex-shrink: 0;
}
.freeBox__oeoVi {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.third:global(.__wab_instance) {
  max-width: 100%;
  flex-shrink: 0;
}
