.root {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 64px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    width: 100%;
    height: 100%;
    min-width: 0;
    min-height: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .root > :global(.__wab_flex-container) {
    min-width: 0;
    min-height: 0;
  }
}
.header:global(.__wab_instance) {
  position: relative;
}
.svg__zbPQg {
  object-fit: cover;
  width: 48px;
  height: 48px;
}
.text__xYk9Z {
  height: auto;
}
.button__awtOp:global(.__wab_instance) {
  max-width: 100%;
  width: 100px;
}
.svg__s8H5 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg___5ImE {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__dOXuz:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100px;
}
.svg__wg8D {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__hkfIu {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__insSm:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100px;
}
.svg__bc1KZ {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__uwOsS {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.topSection:global(.__wab_instance) {
  position: relative;
}
.freeBox__a38V7 {
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: var(--token-qI3Bf7JneQc0w1);
  display: flex;
  position: relative;
  min-width: 0;
}
.freeBox__a38V7 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__a38V7 > :global(.__wab_flex-container) > *,
.freeBox__a38V7 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__a38V7 > :global(.__wab_flex-container) > picture > img,
.freeBox__a38V7
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__a38V7 {
    width: 100%;
    height: auto;
    max-width: var(--token-qI3Bf7JneQc0w1);
    display: flex;
    position: relative;
    flex-direction: column;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__a38V7 > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__a38V7 > :global(.__wab_flex-container) > *,
  .freeBox__a38V7 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__a38V7 > :global(.__wab_flex-container) > picture > img,
  .freeBox__a38V7
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.freeBox__gc4B4 {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  max-width: 1000px;
  min-width: 0;
}
.freeBox__gc4B4 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__gc4B4 > :global(.__wab_flex-container) > *,
.freeBox__gc4B4 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__gc4B4 > :global(.__wab_flex-container) > picture > img,
.freeBox__gc4B4
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__gc4B4 {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 100%;
    max-width: 1000px;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__gc4B4 > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__gc4B4 > :global(.__wab_flex-container) > *,
  .freeBox__gc4B4 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__gc4B4 > :global(.__wab_flex-container) > picture > img,
  .freeBox__gc4B4
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.freeBox___6VAgA {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.text__k704C {
  font-size: 96px;
  font-weight: 700;
  text-align: center;
  line-height: 1;
  color: var(--token-5gFOPrhbO);
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__k704C {
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    line-height: 1;
    color: var(--token-5gFOPrhbO);
  }
}
.text__socVw {
  font-size: 96px;
  font-weight: 700;
  text-align: center;
  line-height: 1;
  color: rgba(51, 140, 245, 0);
  background: linear-gradient(
      131deg,
      #ffb916 1%,
      #f533cc 43%,
      #5e41ff 67%,
      #292929 100%
    )
    0% 0% / 100% 100% padding-box /* clip: text **/;
  padding-top: 8px;
  background-clip: text;
  -webkit-background-clip: text;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__socVw {
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    line-height: 1;
    color: rgba(51, 140, 245, 0);
  }
}
.text__brrqm {
  font-size: 20px;
  text-align: center;
  max-width: 768px;
  position: relative;
  align-self: center;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__brrqm {
    font-size: 16px;
    text-align: center;
    max-width: 768px;
    position: relative;
    align-self: center;
  }
}
.freeBox___5GqPu {
  flex-direction: row;
  display: flex;
  position: relative;
}
.freeBox___5GqPu > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  margin-left: calc(0px - 12px);
  width: calc(100% + 12px);
}
.freeBox___5GqPu > :global(.__wab_flex-container) > *,
.freeBox___5GqPu > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___5GqPu > :global(.__wab_flex-container) > picture > img,
.freeBox___5GqPu
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 12px;
}
.button___0BJvr:global(.__wab_instance) {
  position: relative;
}
.svg__gMyTv {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__yVnM {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.button__f3GVb:global(.__wab_instance) {
  position: relative;
}
.svg__kpIdd {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__de6I1 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.freeBox___8U1P {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  max-width: 1000px;
  min-width: 0;
}
.img {
  position: relative;
  object-fit: cover;
  width: 1024px;
  height: 100%;
  min-height: 0;
  border: 1px solid #000000;
}
.img > picture > img {
  object-fit: cover;
}
.img > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img {
    width: 100%;
    min-width: 0;
  }
}
.solutions:global(.__wab_instance) {
  position: relative;
}
.text__saEp6 {
  user-select: none;
}
.text__c3DzF {
  padding-right: 0px;
  text-align: center;
}
.reveal__uMehs:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.videoExample__h8BRn:global(.__wab_instance) {
  position: relative;
  margin-bottom: 0px;
}
.iframe__s6C9I:global(.__wab_instance) {
  width: 876px;
  height: 493px;
  max-width: 100%;
  position: relative;
}
@media (min-width: 0px) and (max-width: 768px) {
  .iframe__s6C9I:global(.__wab_instance) {
    width: 100%;
    height: 100%;
    min-width: 0;
    min-height: 0;
  }
}
.text__di5Bc {
  font-size: 32px;
  font-weight: 700;
  color: var(--token-5gFOPrhbO);
  position: relative;
  text-align: left;
  width: 100%;
  user-select: none;
  min-width: 0;
}
.text__nY1M {
  position: relative;
  color: var(--token-ekp-964cfv);
  width: 100%;
  user-select: none;
  min-width: 0;
}
.reveal___6TFx7:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  margin-top: 152px;
}
.videoExample__dt4C8:global(.__wab_instance) {
  position: relative;
  margin-top: 0px;
}
.iframe__ajDh1:global(.__wab_instance) {
  width: 876px;
  height: 493px;
  max-width: 100%;
  position: relative;
}
@media (min-width: 0px) and (max-width: 768px) {
  .iframe__ajDh1:global(.__wab_instance) {
    height: 100%;
    width: 100%;
    min-width: 0;
    min-height: 0;
  }
}
.text__aAxZp {
  font-size: 32px;
  font-weight: 700;
  color: var(--token-5gFOPrhbO);
  position: relative;
  text-align: left;
  user-select: none;
  white-space: pre-wrap;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__aAxZp {
    font-size: 31px;
    text-align: left;
  }
}
.text__mdUty {
  position: relative;
  color: var(--token-ekp-964cfv);
  user-select: none;
  padding-bottom: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__mdUty {
    padding-top: 0px;
  }
}
.reveal__pg1G5:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  margin-top: 152px;
}
.videoExample__uq6N2:global(.__wab_instance) {
  position: relative;
  margin-bottom: 0px;
}
.iframe__ms4No:global(.__wab_instance) {
  width: 100%;
  height: 493px;
  max-width: 100%;
  position: relative;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .iframe__ms4No:global(.__wab_instance) {
    width: 100%;
    height: 100%;
    min-width: 0;
    min-height: 0;
  }
}
.text__pngNe {
  font-size: 32px;
  font-weight: 700;
  color: var(--token-5gFOPrhbO);
  position: relative;
  text-align: left;
  width: 100%;
  user-select: none;
  min-width: 0;
}
.text__nY1M {
  position: relative;
  color: var(--token-ekp-964cfv);
  width: 100%;
  user-select: none;
  height: auto;
  min-width: 0;
}
.howItWorks:global(.__wab_instance) {
  position: relative;
}
.reveal___35Oi {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  min-width: 0;
}
.reveal___35Oi > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  min-width: 0;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.reveal___35Oi > :global(.__wab_flex-container) > *,
.reveal___35Oi > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.reveal___35Oi > :global(.__wab_flex-container) > picture > img,
.reveal___35Oi
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
  margin-top: 20px;
}
.freeBox__fYdkh {
  flex-direction: row;
  display: flex;
  width: 100%;
  min-width: 0;
}
.freeBox__fYdkh > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.freeBox__fYdkh > :global(.__wab_flex-container) > *,
.freeBox__fYdkh > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__fYdkh > :global(.__wab_flex-container) > picture > img,
.freeBox__fYdkh
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
  margin-top: 20px;
}
.featureCard__f1HCs:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__jDBq {
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
}
.text___5Edgf {
  height: auto;
}
.svg__obbxv {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard__pqzdR:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__hcQi8 {
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
}
.svg__k0Wqt {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard__hvAu:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__o4LIz {
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
}
.svg__olHwz {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard__zn1U:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg___6Tyir {
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
}
.svg__ucvJc {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard__jPr9:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg___6ZuDo {
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
}
.svg__cOwd {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard__p8Sue:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__ewRNc {
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: var(--token-UMOpAZlrQj);
}
.svg__yx5Ff {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.text__uoAnS {
  text-align: center;
}
.pricingSection:global(.__wab_instance) {
  position: relative;
}
.text__ryYxL {
  text-align: center;
}
.reveal__sO68T:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.columns {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  padding-right: 180px;
  padding-left: 180px;
  min-width: 0;
}
.columns > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
}
.columns > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns > :global(.__wab_flex-container) > *,
.columns > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns > :global(.__wab_flex-container) > picture > img,
.columns
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    position: relative;
    min-width: 0;
    padding: 0px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: flex-start;
    min-width: 0;
    margin-left: calc(0px - 16px);
    width: calc(100% + 16px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 16px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) > *,
  .columns > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns > :global(.__wab_flex-container) > picture > img,
  .columns
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 16px;
    margin-top: 32px;
  }
}
.column__iRjUt {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 33.333333%;
  justify-content: flex-start;
  align-items: center;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__iRjUt {
    width: 100%;
    display: flex;
    position: relative;
    flex-direction: column;
    flex-column-gap: 0px;
  }
}
.plan__fY8Qq:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
  max-width: 320px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .plan__fY8Qq:global(.__wab_instance):global(.__wab_instance) {
    width: 100%;
    min-width: 0;
  }
}
.text__pKpI {
  font-size: 48px;
}
.freeBox__o6Uzz {
  flex-direction: column;
  display: flex;
  position: relative;
}
.freeBox__o6Uzz > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__o6Uzz > :global(.__wab_flex-container) > *,
.freeBox__o6Uzz > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__o6Uzz > :global(.__wab_flex-container) > picture > img,
.freeBox__o6Uzz
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.bullet__kmeIg:global(.__wab_instance) {
  position: relative;
}
.bullet__huyw8:global(.__wab_instance) {
  position: relative;
}
.button__fi8Ak:global(.__wab_instance) {
  position: relative;
}
.svg__hW06 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__uqEK {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.column__lzMt2 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 33.333333%;
  justify-content: flex-start;
  align-items: center;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__lzMt2 {
    width: 100%;
    display: flex;
    position: relative;
    flex-direction: column;
    flex-column-gap: 0px;
  }
}
.plan__eaUQm:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
  max-width: 320px;
}
.text___7NvfG {
  font-size: 48px;
}
.freeBox__dNs9 {
  flex-direction: column;
  display: flex;
  position: relative;
}
.freeBox__dNs9 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__dNs9 > :global(.__wab_flex-container) > *,
.freeBox__dNs9 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__dNs9 > :global(.__wab_flex-container) > picture > img,
.freeBox__dNs9
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.bullet__xHUjC:global(.__wab_instance) {
  position: relative;
}
.bullet__tXzdw:global(.__wab_instance) {
  position: relative;
}
.bullet__lr4PH:global(.__wab_instance) {
  position: relative;
}
.button__zZ4Zh:global(.__wab_instance) {
  position: relative;
}
.svg__xtbu3 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__greTa {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.howItWorks2:global(.__wab_instance) {
  position: relative;
}
.reveal__yXpxh {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  min-width: 0;
}
.reveal__yXpxh > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  min-width: 0;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.reveal__yXpxh > :global(.__wab_flex-container) > *,
.reveal__yXpxh > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.reveal__yXpxh > :global(.__wab_flex-container) > picture > img,
.reveal__yXpxh
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
  margin-top: 20px;
}
.freeBox___5LF6N {
  flex-direction: row;
  display: flex;
  width: 100%;
  min-width: 0;
}
.freeBox___5LF6N > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.freeBox___5LF6N > :global(.__wab_flex-container) > *,
.freeBox___5LF6N > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___5LF6N > :global(.__wab_flex-container) > picture > img,
.freeBox___5LF6N
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
  margin-top: 20px;
}
.freeBox__vNiQd {
  flex-direction: row;
  display: flex;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  border-radius: 99px;
  padding: 8px 24px;
  border: 2px solid #000000;
}
.freeBox__vNiQd > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__vNiQd > :global(.__wab_flex-container) > *,
.freeBox__vNiQd > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__vNiQd > :global(.__wab_flex-container) > picture > img,
.freeBox__vNiQd
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.svg__zUpzX {
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: var(--token-UMOpAZlrQj);
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.text__sli9A {
  position: relative;
  left: auto;
  top: auto;
}
.freeBox__jqaN {
  flex-direction: row;
  display: flex;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  border-radius: 99px;
  padding: 8px 24px;
  border: 2px solid #000000;
}
.freeBox__jqaN > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__jqaN > :global(.__wab_flex-container) > *,
.freeBox__jqaN > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__jqaN > :global(.__wab_flex-container) > picture > img,
.freeBox__jqaN
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.svg__yyyD8 {
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: var(--token-UMOpAZlrQj);
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.text__a7OEr {
  position: relative;
  left: auto;
  top: auto;
}
.freeBox__ioamV {
  flex-direction: row;
  display: flex;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  border-radius: 99px;
  padding: 8px 24px;
  border: 2px solid #000000;
}
.freeBox__ioamV > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__ioamV > :global(.__wab_flex-container) > *,
.freeBox__ioamV > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ioamV > :global(.__wab_flex-container) > picture > img,
.freeBox__ioamV
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.svg__rlQr {
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: var(--token-UMOpAZlrQj);
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.text__yuGno {
  position: relative;
  left: auto;
  top: auto;
}
.freeBox__olR9E {
  flex-direction: row;
  display: flex;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  border-radius: 99px;
  padding: 8px 24px;
  border: 2px solid #000000;
}
.freeBox__olR9E > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__olR9E > :global(.__wab_flex-container) > *,
.freeBox__olR9E > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__olR9E > :global(.__wab_flex-container) > picture > img,
.freeBox__olR9E
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.svg__e5VK {
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: var(--token-UMOpAZlrQj);
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.text___6AFh {
  position: relative;
  left: auto;
  top: auto;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text___6AFh {
    position: relative;
    left: auto;
    top: auto;
  }
}
.freeBox___47Ksy {
  flex-direction: row;
  display: flex;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  border-radius: 99px;
  padding: 8px 24px;
  border: 2px solid #000000;
}
.freeBox___47Ksy > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox___47Ksy > :global(.__wab_flex-container) > *,
.freeBox___47Ksy > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___47Ksy > :global(.__wab_flex-container) > picture > img,
.freeBox___47Ksy
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.svg__eKua {
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: var(--token-UMOpAZlrQj);
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.text__jEaR8 {
  position: relative;
  left: auto;
  top: auto;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__jEaR8 {
    position: relative;
    left: auto;
    top: auto;
  }
}
.text___3Q4Zd {
  text-align: center;
}
.footer:global(.__wab_instance) {
  position: relative;
}
