html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
@font-face {
  font-family: "ComicRelief-Bold";
  src: url(../fonts/ComicRelief-Bold.ttf);
}
@font-face {
  font-family: "Albula-Normal";
  src: url(../fonts/Albula-Regular.ttf);
}
@font-face {
  font-family: "Albula-SemiBold";
  src: url(../fonts/Albula-SemiBold.ttf);
}
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
